In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB

In [8]:
# Importing dataset
data = pd.read_csv('../data/containerData.csv', delimiter=",")
data.head()

,Timestamp,ID,Temperature(celsius),Target_Temperature(celsius),Amp,CumulativePowerConsumption,ContentType,Humidity,CO2,Door_Open,Maintainence_Required,Defrost_Cycle
0,2019-03-19 T15:50 Z,1739,1.166314,4.4,3.292374,11.506573,3,8.869222,7.495099,0,1,6
1,2019-03-19 T16:05 Z,1739,3.979301,4.4,2.942407,11.727594,4,-2.336991,-3.540896,0,1,6
2,2019-03-19 T16:20 Z,1739,1.070377,4.4,2.409779,8.050487,1,10.142936,15.937540,0,1,6
3,2019-03-19 T16:35 Z,1739,9.552380,4.4,3.940449,8.882198,2,13.710208,3.214708,0,1,6
4,2019-03-19 T16:50 Z,1739,7.927455,4.4,3.790703,12.315440,3,1.539946,17.381030,0,1,6

In [9]:
# create a Python list of feature names
feature_cols = ['Temperature(celsius)', 'Door_Open','Target_Temperature(celsius)','Amp','ContentType','CumulativePowerConsumption'
                          ,'Humidity','CO2','Defrost_Cycle']

# use the list to select a subset of the original DataFrame
X = data[feature_cols]
y = data['Maintainence_Required']

# print the first 5 rows
X.head()

,Temperature(celsius),Door_Open,Target_Temperature(celsius),Amp,ContentType,CumulativePowerConsumption,Humidity,CO2,Defrost_Cycle
0,1.166314,0,4.4,3.292374,3,11.506573,8.869222,7.495099,6
1,3.979301,0,4.4,2.942407,4,11.727594,-2.336991,-3.540896,6
2,1.070377,0,4.4,2.409779,1,8.050487,10.142936,15.937540,6
3,9.552380,0,4.4,3.940449,2,8.882198,13.710208,3.214708,6
4,7.927455,0,4.4,3.790703,3,12.315440,1.539946,17.381030,6

In [10]:
# select a Series from the DataFrame
y = data['Maintainence_Required']

# equivalent command that works if there are no spaces in the column name
# you can select the Sales as an attribute of the DataFrame
y = data.Maintainence_Required

# print the first 5 values
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Maintainence_Required, dtype: int64

In [11]:
# import  
#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split

# Split dataset in training and test datasets
X_train, X_test = train_test_split(data, test_size=0.5, random_state=int(time.time()))

In [12]:
# import model
from sklearn.linear_model import LinearRegression

# Instantiate the classifier
gnb = GaussianNB()


feature_cols = ['Temperature(celsius)', 'Door_Open','Target_Temperature(celsius)','Amp','ContentType','CumulativePowerConsumption'
                          ,'Humidity','CO2','Defrost_Cycle']

# Train classifier
gnb.fit(
    X_train[feature_cols].values,
    X_train["Maintainence_Required"]
)
y_pred = gnb.predict(X_test[feature_cols])

# Print results
print("Number of mislabeled points out of a total {} points : {}, performance {:05.2f}%"
      .format(
          X_test.shape[0],
          (X_test["Maintainence_Required"] != y_pred).sum(),
          100*(1-(X_test["Maintainence_Required"] != y_pred).sum()/X_test.shape[0])
))

Number of mislabeled points out of a total 2000 points : 505, performance 100.00%

In [14]:
import pickle

#loading a model from a file called model.pkl
#serializing our model to a file called model.pkl
pickle.dump(gnb, open("model_bays.pkl","wb"))