In [8]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import metrics

In [9]:
data = pd.read_csv('../data/container_matrix_door_open.csv', delimiter=",")
data.head()

,Timestamp,ID,Temperature(celsius),Target_Temperature(celsius),Amp,CumulativePowerConsumption,ContentType,Humidity,CO2,Door_Open,Maintainence_Required,Defrost_Cycle
0,2019-03-14 T18:07 Z,1992,4.234727,4.4,2.220938,10.207381,5,10.125844,8.683768,1,0,6
1,2019-03-14 T18:22 Z,1992,3.537420,4.4,2.576245,7.929235,2,14.530501,10.904526,1,0,6
2,2019-03-14 T18:37 Z,1992,3.490384,4.4,0.888891,8.273427,1,15.635786,9.598969,1,0,6
3,2019-03-14 T18:52 Z,1992,3.334489,4.4,4.495335,7.285007,3,18.055472,9.563723,1,0,6
4,2019-03-14 T19:07 Z,1992,4.151678,4.4,2.147343,10.018525,3,9.978596,20.424016,1,0,6

In [16]:
# create a Python list of feature names
feature_cols = ['Temperature(celsius)', 'Door_Open','Target_Temperature(celsius)','Amp','ContentType','CumulativePowerConsumption'
                          ,'Humidity','CO2','Defrost_Cycle']

# use the list to select a subset of the original DataFrame
X = data[feature_cols]
y = data['Maintainence_Required']

# print the first 5 rows
X.head()

,Temperature(celsius),Door_Open,Target_Temperature(celsius),Amp,ContentType,CumulativePowerConsumption,Humidity,CO2,Defrost_Cycle
0,4.234727,1,4.4,2.220938,5,10.207381,10.125844,8.683768,6
1,3.537420,1,4.4,2.576245,2,7.929235,14.530501,10.904526,6
2,3.490384,1,4.4,0.888891,1,8.273427,15.635786,9.598969,6
3,3.334489,1,4.4,4.495335,3,7.285007,18.055472,9.563723,6
4,4.151678,1,4.4,2.147343,3,10.018525,9.978596,20.424016,6

In [11]:
import pickle

#loading a model from a file called model.pkl
model = pickle.load(open("model.pkl","r"))

In [17]:
# make predictions on the input set
y_pred = model.predict(X)
#y_pred
#y_pred.shape
print(np.sqrt(metrics.mean_squared_error(y, y_pred)))

0.01737186554184564